In [6]:
import pandas as pd

In [11]:
df=pd.read_excel("D:/RAMANASOFT/Global Superstore.xlsx")

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\ju\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\ju\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
df.shape

(51290, 24)

In [13]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [14]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [15]:
from matplotlib import pyplot as plt
from matplotlib import style
import seaborn as sns
%matplotlib inline

# values outside interquartile range(25% to 75%) is called outlier

In [16]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804

# Outlier Treatment

In [17]:
plt.boxplot(df["Profit"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b5f3080>,
  <matplotlib.lines.Line2D at 0x23e1b5f3380>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b5f3650>,
  <matplotlib.lines.Line2D at 0x23e1b5f3920>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b5a7f20>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b5f3c20>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b5f3f20>],
 'means': []}

In [18]:
df["Profit"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     -30.5712
0.25       0.0000
0.50       9.2400
0.75      36.8100
1.00    8399.9760
Name: Profit, dtype: float64

In [19]:
df.shape

(51290, 24)

In [20]:
df_1=df[(df["Profit"] >=0.0) & (df["Profit"] <=36.8100)]

In [21]:
df_1.shape

(25928, 24)

In [22]:
plt.boxplot(df_1["Profit"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b630890>,
  <matplotlib.lines.Line2D at 0x23e1b631970>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b633a70>,
  <matplotlib.lines.Line2D at 0x23e1b63c080>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b5c54c0>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b63c6b0>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b63ccb0>],
 'means': []}

In [23]:
plt.boxplot(df_1["Sales"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b63e120>,
  <matplotlib.lines.Line2D at 0x23e1b63d2e0>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b63f890>,
  <matplotlib.lines.Line2D at 0x23e1b63ff20>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b63f6e0>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b658200>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b658500>],
 'means': []}

In [24]:
df_1["Sales"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10      12.54
0.25      23.64
0.50      48.78
0.75      96.18
1.00    3616.50
Name: Sales, dtype: float64

In [25]:
df_2=df_1[(df_1["Sales"] >=23.64) & (df_1["Sales"] <=96.18)]

In [26]:
df_2.shape

(12978, 24)

In [27]:
plt.boxplot(df_2["Sales"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b659ee0>,
  <matplotlib.lines.Line2D at 0x23e1b63f320>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b65a150>,
  <matplotlib.lines.Line2D at 0x23e1b65a420>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b659e20>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b65a690>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b65a930>],
 'means': []}

In [28]:
plt.boxplot(df_2["Quantity"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b6782f0>,
  <matplotlib.lines.Line2D at 0x23e1b678560>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b63f0b0>,
  <matplotlib.lines.Line2D at 0x23e1b6786b0>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b678050>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b678920>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b678b90>],
 'means': []}

In [29]:
df_2["Quantity"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     1.0
0.25     2.0
0.50     3.0
0.75     4.0
1.00    14.0
Name: Quantity, dtype: float64

In [30]:
df_3=df_2[(df_2["Quantity"] >=2.0) & (df_2["Quantity"] <=4.0)]

In [31]:
df_3.shape

(7907, 24)

In [32]:
plt.boxplot(df_3["Quantity"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b65bec0>,
  <matplotlib.lines.Line2D at 0x23e1b67aa20>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b67ac90>,
  <matplotlib.lines.Line2D at 0x23e1b67af90>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b67a720>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b67b260>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b67b500>],
 'means': []}

In [33]:
plt.boxplot(df_3["Shipping Cost"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e1b6a0a40>,
  <matplotlib.lines.Line2D at 0x23e1b6a07a0>],
 'caps': [<matplotlib.lines.Line2D at 0x23e1b6a10a0>,
  <matplotlib.lines.Line2D at 0x23e1b6a13a0>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e1b6a08c0>],
 'medians': [<matplotlib.lines.Line2D at 0x23e1b6a1670>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e1b6a1910>],
 'means': []}

In [34]:
df_3["Shipping Cost"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     1.720
0.25     2.700
0.50     4.460
0.75     7.235
1.00    47.280
Name: Shipping Cost, dtype: float64

In [44]:
df_4=df_3[(df_3["Shipping Cost"] >=2.70) & (df_3["Shipping Cost"] <=7.23675)]

In [45]:
df_4.shape

(3954, 24)

In [46]:
plt.boxplot(df_4["Shipping Cost"])

{'whiskers': [<matplotlib.lines.Line2D at 0x23e25f014f0>,
  <matplotlib.lines.Line2D at 0x23e25f00c80>],
 'caps': [<matplotlib.lines.Line2D at 0x23e25f020f0>,
  <matplotlib.lines.Line2D at 0x23e25f01670>],
 'boxes': [<matplotlib.lines.Line2D at 0x23e25f00920>],
 'medians': [<matplotlib.lines.Line2D at 0x23e25f01df0>],
 'fliers': [<matplotlib.lines.Line2D at 0x23e25ef5400>],
 'means': []}

In [47]:
df_4.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
26583,10778,ES-2014-5617990,2014-09-11,2014-09-12,First Class,LW-16825,Laurel Workman,Corporate,Schiltigheim,Alsace,...,OFF-SU-10003160,Office Supplies,Supplies,"Acme Ruler, High Speed",33.420,2,0.0,1.320,7.23,High
26584,17129,ES-2014-3096832,2014-07-04,2014-07-09,Standard Class,BW-11065,Barry Weirich,Consumer,Catania,Sicily,...,OFF-AR-10002145,Office Supplies,Art,"Binney & Smith Sketch Pad, Fluorescent",95.160,2,0.0,4.740,7.23,Medium
26586,21231,IN-2012-45951,2012-11-02,2012-11-06,Standard Class,JG-15115,Jack Garza,Consumer,Bhopal,Madhya Pradesh,...,OFF-EN-10000315,Office Supplies,Envelopes,"Jiffy Business Envelopes, Security-Tint",47.880,3,0.0,9.090,7.23,High
26587,23945,IN-2012-40547,2012-11-29,2012-11-30,First Class,GT-14710,Greg Tran,Consumer,Adelaide,South Australia,...,OFF-BI-10004685,Office Supplies,Binders,"Acco Binder, Economy",40.905,3,0.1,9.495,7.23,High
26594,31408,CA-2013-128867,2013-11-04,2013-11-11,Standard Class,CL-12565,Clay Ludtke,Consumer,Urbandale,Iowa,...,OFF-AR-10000380,Office Supplies,Art,"Hunt PowerHouse Electric Pencil Sharpener, Blue",75.960,2,0.0,22.788,7.23,Medium

1. boxplot => to identify outlier
2. outlier => simple and effective IQR technique

# Missing value imputations

In [48]:
df_4.isnull().sum()

Row ID               0
Order ID             0
Order Date           0
Ship Date            0
Ship Mode            0
Customer ID          0
Customer Name        0
Segment              0
City                 0
State                0
Country              0
Postal Code       3269
Market               0
Region               0
Product ID           0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
Order Priority       0
dtype: int64

In [49]:
df_4.drop(['Postal Code'],axis=1,inplace=True)

C:\Users\emman\AppData\Local\Temp\ipykernel_25740\934186009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.drop(['Postal Code'],axis=1,inplace=True)

In [50]:
df_4.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [51]:
import numpy as np

In [52]:
df4_num=df_4.select_dtypes(include=[np.number])

In [53]:
df4_cat=df_4.select_dtypes(include=["object"])

In [54]:
df4_num.columns

Index(['Row ID', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [55]:
df4_cat.columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'City', 'State', 'Country', 'Market', 'Region', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Order Priority'],
      dtype='object')

# encoding, scaling

In [56]:
df4_num.drop(['Row ID'],axis=1,inplace=True)

In [57]:
from sklearn import preprocessing

In [58]:
le=preprocessing.LabelEncoder()

In [59]:
mm_scaler = preprocessing.MinMaxScaler()

In [60]:
df4_cat_e =df4_cat.apply(le.fit_transform)

In [61]:
df4_num.columns

Index(['Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [62]:
df4_num_mm =mm_scaler.fit_transform(df4_num)

In [63]:
df4_num_mm_sc=pd.DataFrame(df4_num_mm)

In [64]:
df4_num_mm_sc.head()

          0    1    2         3    4
0  0.134822  0.0  0.0  0.035948  1.0
1  0.985939  0.0  0.0  0.129085  1.0
2  0.334160  0.5  0.0  0.247549  1.0
3  0.238007  0.5  0.2  0.258578  1.0
4  0.721257  0.0  0.0  0.620588  1.0

In [65]:
df4_cat_e.head()

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
26583,1476,0,706,447,1,1229,19,35,4,3,2161,1,14,79,1
26584,1359,3,183,70,0,282,497,51,4,10,462,1,2,271,3
26586,1773,3,544,337,0,176,319,46,0,4,923,1,6,739,1
26587,1758,0,468,310,0,10,506,4,0,9,826,1,3,27,1
26594,353,3,232,169,0,1390,246,105,6,3,352,1,2,697,3

In [66]:
d1=df4_cat_e.reset_index()

In [67]:
d1.head()

,index,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,26583,1476,0,706,447,1,1229,19,35,4,3,2161,1,14,79,1
1,26584,1359,3,183,70,0,282,497,51,4,10,462,1,2,271,3
2,26586,1773,3,544,337,0,176,319,46,0,4,923,1,6,739,1
3,26587,1758,0,468,310,0,10,506,4,0,9,826,1,3,27,1
4,26594,353,3,232,169,0,1390,246,105,6,3,352,1,2,697,3

In [68]:
d1.drop(["index"],axis=1,inplace=True)

In [69]:
df_final=pd.concat([df4_num_mm_sc,d1],axis=1)

In [70]:
df_final.rename(columns={0:"Sales",1:"Quantity",2:"Discount",3:"Profit",4:"Shipping Cost"},inplace=True)

In [71]:
df_final.head()

,Sales,Quantity,Discount,Profit,Shipping Cost,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,0.134822,0.0,0.0,0.035948,1.0,1476,0,706,447,1,1229,19,35,4,3,2161,1,14,79,1
1,0.985939,0.0,0.0,0.129085,1.0,1359,3,183,70,0,282,497,51,4,10,462,1,2,271,3
2,0.334160,0.5,0.0,0.247549,1.0,1773,3,544,337,0,176,319,46,0,4,923,1,6,739,1
3,0.238007,0.5,0.2,0.258578,1.0,1758,0,468,310,0,10,506,4,0,9,826,1,3,27,1
4,0.721257,0.0,0.0,0.620588,1.0,353,3,232,169,0,1390,246,105,6,3,352,1,2,697,3

In [72]:
df_final.isnull().sum()

Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order ID          0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Order Priority    0
dtype: int64

In [73]:
Y=df_final["Sales"]

In [74]:
X=df_final.drop(["Sales"],axis=1)

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [77]:
import os
os.environ['GIT_PYTHON_REFRESH']='quiet'
os.environ['MLFLOW_TRACKING_URI']='file:///D:/RAMANASOFT/mlflow'

In [80]:
mlflow.set_experiment("globalstore-analysis")
mlflow.set_experiment_tag('store-tag','ex1')

2025/06/13 11:55:11 INFO mlflow.tracking.fluent: Experiment with name 'globalstore-analysis' does not exist. Creating a new experiment.

In [83]:
import mlflow

In [84]:
with mlflow.start_run():    
    from sklearn.ensemble import RandomForestRegressor
    from sklearn.ensemble import GradientBoostingRegressor
    from sklearn.metrics import r2_score
    
    # model object initialization
    RandFor=RandomForestRegressor(n_estimators=5000,max_depth=6)
    GBM=GradientBoostingRegressor(n_estimators=3000,max_depth=6,learning_rate=0.01,min_samples_split=5)
    rf_n_estimators=5000
    #logging parameters
    mlflow.log_param("n_estimators",rf_n_estimators)
    mlflow.log_param('rf_max_depth',6)
    mlflow.log_param('gbm_n_estimators',3000)
    mlflow.log_param('gbm_max_depth',6)
    mlflow.log_param('gbm_learning_rate',0.01)
    mlflow.log_param('gbm_minimum_samples_split',5)
    
    #training models
    rf=RandFor.fit(X_train,y_train)
    gbm=GBM.fit(X_train,y_train)
    
    #training scores
    training_score_rf=RandFor.score(X_train,y_train)
    training_score_gbm=GBM.score(X_train,y_train)
    
    #logging training score
    mlflow.log_metric("rf_training_score", training_score_rf)
    mlflow.log_metric("gbm_training_score",training_score_gbm)
    
    #value predictions
    y_pred_rf=rf.predict(X_test)
    y_pred_gbm=gbm.predict(X_test)
    
    #prediction evaluations
    testing_score_rf=r2_score(y_pred_rf,y_test)
    testing_score_gbm=r2_score(y_pred_gbm,y_test)
    
    #logging evaluation scores
    mlflow.log_metric("rf_training_score", testing_score_rf)
    mlflow.log_metric("gbm_training_score",testing_score_gbm)
    
    #logging models
    mlflow.sklearn.log_model(rf, "random-forest-model")
    mlflow.sklearn.log_model(gbm, "gradient-boosting-model")

import mlflow
import mlflow.sklearn
from sklearn.linear_model import LogisticRegression

# Assume 'model' is your trained LogisticRegression model
# Assume 'X_train', 'y_train' are your training data
# Assume you have set up MLflow tracking URI, e.g., mlflow.set_tracking_uri("sqlite:///mlruns.db")

# Example of training a dummy model for logging
model = LogisticRegression(solver='liblinear', random_state=42)
# In a real scenario, you'd train it with your data, e.g., model.fit(X_train, y_train)


with mlflow.start_run():
    # Fix: Replace 'artifact_path' with 'name'
    mlflow.sklearn.log_model(
        sk_model=model,
        name="logistic_regression_model", # <--- Corrected parameter
        registered_model_name="TitanicLogisticRegression"
    )
    print("Model logged with 'name' (no warning).")

2025/06/13 12:50:17 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/06/13 12:51:01 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025/06/13 12:51:01 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/06/13 12:51:06 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025/06/13 12:51:09 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

Model logged with 'name' (no warning).

Successfully registered model 'TitanicLogisticRegression'.
Created version '1' of model 'TitanicLogisticRegression'.